version: "3"

services:
  noots-web:
    image: davydq/course-work-web
    container_name: "course-work-web"
    ports:
      - "80:80"

  noots-write_api:
    image: davydq/course-work-api
    container_name: "course-work-api"
    ports:
      - "5000:80"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
